<form [formGroup]="form">
  <ol formArrayName="options">
    <li *ngFor="let option of options.controls; let i = index">
      <div [formGroupName]="i">
        <input
          class="card"
          #optionInput
          type="text"
          formControlName="text"
          [placeholder]="'Option ' + (i + 1)"
          (blur)="removeEmptyOptions()"
        />
      </div>
    </li>
  </ol>

  <div class="create">
    <button type="submit" (click)="createPoll()">Create &gt;</button>
  </div>
</form>
