.option {
  display: flex;
  flex: row;
  align-items: center;
  cursor: pointer;
  transition-property: border-color background-color;
  transition-duration: 0.1s;

  &:hover {
    border-color: var(--accent);
  }
}

label {
  cursor: pointer;
  pointer-events: none;
  margin-left: var(--s0);
}

input[type='radio'] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.maybeDesignation {
  visibility: hidden;
}

.maybeDesignationLeft {
  margin-left: -4px;
}

.checkmark {
  display: inline-block;
  width: var(--s1);
  height: var(--s1);
  background-color: var(--bg);
  border: var(--border) solid var(--fg);
  border-radius: var(--radius);
  transition-property: background-color;
  transition-duration: 0.1s;
  &:after {
    content: '';
    opacity: 0;
    display: inline-block;
    color: var(--bg);
    position: relative;
    width: 10px;
    height: 20px;
    border-bottom: 3px solid var(--bg);
    border-right: 3px solid var(--bg);
    border-radius: 0 0 1px 0;
    transform: rotate(45deg);
    transition-property: opacity;
    transition-duration: 0.1s;
    left: 7px;
    bottom: 4px;
  }
}

.optionYes:checked ~ .option {
  color: var(--bg);
  background-color: var(--accent);
  border-color: var(--accent);

  .checkmark {
    background-color: var(--accent);
    border-color: transparent;
    &:after {
      opacity: 100%;
    }
  }
}

.optionMaybe:checked ~ .option {
  color: var(--bg);
  background: var(--alt-select);
  border-color: var(--alt-select);

  .checkmark {
    background-color: var(--alt-select);
    border-color: transparent;
    &:after {
      opacity: 100%;
      transform: rotate(45deg);
    }
  }
}
.optionMaybe:checked ~ .option > .maybeDesignation {
  visibility: visible;
}

.votebar {
  display: flex;
  justify-content: flex-end;
}

.name {
  margin-right: var(--s1);
}
