<h1>{{ poll.title }}</h1>

<form [formGroup]="form">
  <ol formArrayName="selection">
    <li
      *ngFor="let option of selection.controls; let i = index"
      tabindex="0"
      (click)="onClick(i)"
      (keydown)="onKey($event, i)"
    >
      <input
        *ngFor="
          let state of [
            SelectionValue.No,
            SelectionValue.Yes,
            SelectionValue.Maybe
          ]
        "
        [id]="'option' + i + state"
        [class]="'option' + state"
        #voteOption
        type="radio"
        [name]="'' + i"
        [formControlName]="'' + i"
        [value]="state"
        tabindex="-1"
        checked
      />
      <div class="card option">
        <span class="maybeDesignation maybeDesignationLeft">(</span>
        <div
          class="checkmark"
          [ngClass]="{ single: poll.selectKind === SelectKind.Single }"
        ></div>
        <span class="maybeDesignation">)</span>
        <label [for]="'option-' + i">
          {{ poll.options[i].text }}
        </label>
      </div>
    </li>
  </ol>

  <div class="votebar">
    <input
      *ngIf="poll.secrecyKind === SecrecyKind.Open"
      class="name"
      type="text"
      placeholder="Name"
      formControlName="from"
    />
    <button
      type="submit"
      class="vote"
      [disabled]="form.invalid"
      (click)="vote()"
    >
      Vote →
    </button>
  </div>
</form>
