<form [formGroup]="form">
  <input
    class="title"
    type="text"
    placeholder="Poll Title"
    formControlName="title"
    autofocus
  />

  <div class="config">
    <fieldset>
      <legend>Select</legend>
      <div class="radio-group">
        <input
          type="radio"
          id="selectSingle"
          value="Single"
          name="selectKind"
          formControlName="selectKind"
        />
        <label for="selectSingle">Single</label>
        <input
          type="radio"
          id="selectMultiple"
          value="Multiple"
          name="selectKind"
          formControlName="selectKind"
        />
        <label for="selectMultiple">Multiple</label>
      </div>
    </fieldset>
    <fieldset>
      <legend>Vote</legend>
      <div class="radio-group">
        <input
          type="radio"
          id="voteOpen"
          value="Open"
          name="secrecyKind"
          formControlName="secrecyKind"
        />
        <label for="voteOpen">Open</label>
        <input
          type="radio"
          id="voteSecret"
          value="Secret"
          name="secrecyKind"
          formControlName="secrecyKind"
        />
        <label for="voteSecret">Secret</label>
      </div>
    </fieldset>
    <fieldset>
      <legend>Options</legend>
      <div class="radio-group">
        <input
          type="radio"
          id="optionsYesNo"
          value="YesNo"
          name="optionKind"
          formControlName="optionKind"
        />
        <label for="optionsYesNo">Yes / No</label>
        <input
          type="radio"
          id="optionsYesNoMaybe"
          value="YesNoMaybe"
          name="optionKind"
          formControlName="optionKind"
        />
        <label for="optionsYesNoMaybe">Yes / No / Maybe</label>
      </div>
    </fieldset>
    <fieldset *ngIf="advanced" formGroupName="summaryKind">
      <legend>Results</legend>
      <div class="radio-group">
        <input
          type="radio"
          id="resultsTop"
          value="Top"
          name="cutoffKind"
          formControlName="cutoffKind"
        />
        <label for="resultsTop">
          Show top&nbsp;
          <input
            type="number"
            min="0"
            (click)="
              this.form.patchValue({ summaryKind: { cutoffKind: 'Top' } })
            "
            (focus)="$event.target.select()"
            [tabindex]="
              this.form.get('summaryKind').get('cutoffKind').value ===
              'TopPercent'
                ? -1
                : 0
            "
            formControlName="cutoffValueTop"
          />
        </label>
        <input
          type="radio"
          id="resultsTopPercent"
          value="TopPercent"
          name="cutoffKind"
          formControlName="cutoffKind"
        />
        <label for="resultsTopPercent">
          Show top&nbsp;
          <input
            type="number"
            min="0"
            max="100"
            (click)="
              this.form.patchValue({
                summaryKind: { cutoffKind: 'TopPercent' }
              })
            "
            (focus)="$event.target.select()"
            [tabindex]="
              this.form.get('summaryKind').get('cutoffKind').value === 'Top'
                ? -1
                : 0
            "
            formControlName="cutoffValueTopPercent"
          />
          &nbsp;%
        </label>
      </div>
    </fieldset>
    <fieldset *ngIf="advanced">
      <label for="deadline">Deadline</label>
      <input type="date" id="deadline" [min]="now" formControlName="deadline" />
    </fieldset>
  </div>

  <div class="next">
    <button
      type="button"
      class="link"
      (click)="advanced = !advanced"
      *ngIf="!advanced"
    >
      Results / Deadline ↓
    </button>
    <button
      type="submit"
      routerLink="/create/options"
      (click)="next()"
      [disabled]="!form.valid"
    >
      Next →
    </button>
  </div>
</form>
