.title {
  font-size: 2rem;
  width: 100%;
}

.config {
  margin: var(--s3) 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(340px, 100%), 1fr));
  row-gap: 4vh;
  column-gap: var(--s2);
}

.config {
  max-width: 100%;
}

.next {
  display: flex;
  justify-content: space-between;
}

.next > *:last-child {
  margin-left: auto;
}

label {
  input[type='number'] {
    width: 3rem;
    height: 30px;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.1rem var(--s0) 0 var(--s0);
    -moz-appearance: textfield; /* Firefox */
  }

  input[type='number']::selection {
    background-color: var(--accent);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

input[type='radio']:checked + label {
  input[type='number'] {
    color: var(--bg);
    background-color: var(--accent-alt);
    border-color: var(--bg);
  }
  input[type='number'].ng-invalid {
    border-color: var(--invalid);
  }
}
