:root {
  --bg: #444444;
  --fg: #c4dbe0;
  --accent: #d7fffe;
  --s0: 0.5rem;
  --s1: 2rem;
  --s2: 6vh;
  --border: 2px;
  --radius: 4px;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;

  color: var(--fg);
  background-color: var(--bg);

  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 85%;
  max-width: 1000px;
  margin: var(--s2) auto;
}

@media (min-width: 600px) {
  html {
    font-size: 1.4rem;
  }
  body {
    margin-top: 10vh;
  }
}

/* components */

input {
  color: var(--fg);
  background-color: #555555;
  padding: var(--s0);
  border: none;
  border-bottom: var(--border) solid var(--accent);
  border-radius: var(--radius) var(--radius) 0 0;
}

button {
  font-size: 1rem;
  font-weight: 500;
  border: var(--border) solid var(--accent);
  border-radius: var(--radius);
  color: var(--fg);
  background-color: var(--bg);
  padding: var(--s0);
  cursor: pointer;
  transition: color background-color;
  transition-duration: 0.1s;
}

button.link {
  border: none;
}

button:hover {
  color: var(--bg);
  background-color: var(--accent);
}

button:focus {
  text-decoration: underline 2px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: var(--s0);
}

fieldset:active > legend {
  text-decoration: underline 2px;
}

fieldset:focus-within > legend {
  text-decoration: underline 2px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  border: var(--border) solid var(--accent);
  border-radius: var(--radius);

  input[type='radio'] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }
  label {
    display: flex;
    align-items: center;
    font-weight: 500;
    border-bottom: var(--border) solid var(--accent);
    padding: var(--s0);
    margin: -1px;
    cursor: pointer;
  }
  label:first-of-type {
    border-radius: var(--radius) var(--radius) 0 0;
  }
  label:last-of-type {
    border-radius: 0 0 var(--radius) var(--radius);
    border-bottom: none;
  }
  input[type='radio']:checked + label {
    color: var(--bg);
    background-color: var(--accent);
  }
}
